.lead {
  width: calc(100% - 100px * 2);
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    width: calc(100% + 2 * 24px);
    margin: 0 -24px 88px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    width: calc(100% + 2 * 16px);
    margin: 0 -16px 64px;
  }
}