.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  width: 360px;
  text-align: center;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 727px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 288px;
  }
}