.intro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
  width: calc(100% - 100px * 2);
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 100%;
    margin: 0 auto 92px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 auto 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin: 0 auto 64px;
  }
}