.lead__subtitle {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  margin: 0 auto 64px;
}

.lead__subtitle:nth-of-type(1) {
  margin: 0 auto 0;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 40px;
  }
}