.cover__title {
  color: #fff;
  text-decoration: none;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  width: 560px;
  text-align: center;
  margin: 0 auto 32px;
  z-index: 1;
}

@media screen and (max-width: 727px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    width: 288px;
    margin: 0 -16px 16px;
  }
}